html
   head
      title Color Socks - A colorful websockets demo
      meta(charset="utf-8")
      link(rel="stylesheet" href="./stylesheet.css")
   body
      canvas(class="fullscreen" id="mainCanvas")
         |Canvas is not initiated yet.
      script(src="./client.js")
