html
   head
      title Color Socks - A colorful websockets demo
      meta(charset="utf-8")
      link(rel="stylesheet" href="./stylesheet.css")
   body
      #background.fullscreen
         button.fullscreen-enabler(onclick="launchIntoFullscreen(document.body);")
            Run Site in Fullscreen
      script(src="./client.js")
